*{
    margin:0;
    padding:0;
}
#wrapper{
    font-size:14px;
}
.body-bg-color{
    background-color: rgb(20,50,80);
}
.deletelink{
    background-color:unset;
    border:none;
    height:100%;
    margin:0 10px;
    cursor:pointer;
}
.hd-properties{
    padding:16px;
}
.contenttop{
    flex:1;
}
.bar{
    width:64px;
    font-size:20px;
    padding:10px;
    margin:0 5px;
    background-color:rgb(200,250,200);
    border-radius:10px;
}
.navbar{
    vertical-align:middle;
    text-align:center;
    color:rgb(50, 70, 80);
}
.other-bars{
    vertical-align:middle;
    text-align:center;
    color:rgb(50, 70, 80);
}
.other-bars > a{
    display:block;
    width:100%;
}
.settings-userpage{
    display:block;
    height:inherit;
}
.class-b-s-r-1{
    background:linear-gradient(to right,red,blue);
}
.class-b-s-r-2{
    background:linear-gradient(to right,yellow,green);
}
.class-b-s-r-3{
    background:linear-gradient(to right,orange,blue);
}
.class-b-s-r-4{
    background:linear-gradient(to right,green,blue);
}
.class-b-s-r-5{
    background:linear-gradient(to right,red,orange);
}
.class-b-s-r-6{
    background:linear-gradient(to right,purple,blue);
}
.inputradio{
    flex-basis:10%
}
.navbar-box{
    width:100px;
    position:absolute;
    border-radius:10px;
    background-color:rgb(200,250,200);
    z-index:100;
    right:20px;
    top:80px;
    display:none;
}

.navbar-box-items > a{
    display:block;
    width:100%;
    padding:10px 0;
}
.navbar-box-items{
    width:100%;
    vertical-align:middle;
    text-align:center;
}
.flex{
    display: flex;
}
.flex-d-column{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
.pv-16{
    padding:16px 0;
}
.mv-10{
    margin:10px 0;
}
.links-wrapper a{
    width:100%;
    height:100%;
    color:white;
}
.ft-properties{
    padding:16px;
    text-align:center;
    color:rgb(150, 150, 150);
    font-size:12px;
    border-top:1px solid gray;
}
.min-h-s{
    min-height: 100vh;
}
.main-properties{
    min-height: 80vh;
}
#form-wrapper{

}
.graycolor{
    color:rgb(198,200,205);
}
.center-wrapper{
    width:450px;
    box-sizing:border-box;
    margin:16px;
    padding:16px;
}
#formlogin{
    border-bottom:1px solid gray;
}
a{
    color:rgb(50, 70, 80);
    text-decoration: none;
}
.usernamecolor{
    color:rgb(200, 150, 150);
}
.justify-end{
    justify-content:flex-end;
}
.justify-center{
    justify-content:center;
}
.font{
    font-family: Arial;
}
.mv-30{
    margin:30px 0;
}
.w-100p{
    width:100%;
}
.mh-5{
    margin:0 5px;
}
.inputboxes{
    background-color:rgb(200, 250, 200);
    border:1px solid rgb(107, 114, 128);
    outline:none;
}
.ml-5{
    margin-left:10px;
}
#cbox{

    width: 20px;
    height: 20px;
    border: 2px solid rgb(107, 114, 128);
    border-radius: 4px;
    background-color: #000; /* Checkboxun varsayılan arka plan rengi */
    outline: none;
    cursor: pointer;
}

.send{
    width:80px;
    height:50px;
    background-color:rgb(200, 250, 200);
    color:rgb(50, 100, 50);
    border:1px solid rgb(50, 100, 50);
    border-radius:5px;
    margin-left:20px;
}
.sendbuttonproperties{
    background-color:rgb(200, 250, 200);
    color:rgb(50, 100, 50);
    border:1px solid rgb(50, 100, 50);
}
.gap-5{
    gap:5px;
}
.sendbutton{
    width:80px;
    height:50px;
    background-color:unset;
    color:rgb(150, 200, 150);
    border:1px solid rgb(150, 200, 150);
    border-radius:5px;
}
.inputtext{
    box-sizing: border-box;
    height:40px;
    margin-top:10px;
    border-radius:2px;
    padding:5px 10px;
}
#save-acc{

}
#form-save-acc{

}
#form-change-pw{

}
#form-delete-acc{

}
.settings-buttons{
    width:80px;
    height:50px;
    border-radius:5px;
}

#change-pw{

}
#delete-acc{


}
.avatar{
    width:50px;
    height:50px;
    margin:5px 0;
    background-color:rgb(25,25,25);
    border-radius:100%;
}
.links{
    display:flex;
    width:100%;
}
.links-wrapper{

}
.light-gray-color{
    color:rgb(156,163,175);
}
.page-center{
    width:450px;
    box-sizing:border-box;
    margin:16px;
    padding:16px;
    color:white;
}
.link-settings-wrapper{
    gap:10px;
}
.mv-5{
    margin:5px 0;
}
.mv-25{
    margin:25px 0;
}
.h-40{
    height:40px;
}

.center-text-items{
    display:flex;
    align-items:center;
    justify-content:center;
}
.class-extra-round{
    border-radius:50px;
}
.class-round{
    border-radius:10px;
}
.class-square{
    border-radius:0;
}
.cancel-button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    height:50px;
    background-color:unset;
    color:rgb(236, 72, 153);
    border:1px solid rgb(236, 72, 153);
    border-radius:5px;
}
.setting-1{
    height:inherit;
}
.setting-2{
    height:inherit;
    flex-basis:20%;
}
.setting-new-link{
    display:none;
}
.setting-userpage{
    display:none;
}



@media all and (max-width:460px){
    .center-wrapper{
        width:100%;
    }
    .page-center{
        width:100%;
    }
}


