<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Title</title>
</head>
<body class="body-bg-color">
        <div id="wrapper" class="flex flex-d-column min-h-s font">
            <div class="contenttop">
                <header>
                        <div class="hd-properties flex flex-d-column items-end">
                            <div class="flex hd-inside">
                                <div class="bar other-bars">
                                    <a href="{{ url_for('home')}}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </div>
                                <div class="bar other-bars">
                                    <a href="{{ url_for('user')}}">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                </div>
                                <div class="bar navbar">
                                    <i class="fas fa-bars"></i>
                                </div>
                            </div>
                            <div class="navbar-box">
                                    <div class="navbar-box-items">
                                        <a href="{{ url_for('profile')}}">Settings</a>
                                    </div>
                                    <div class="navbar-box-items">
                                        <a href="{{ url_for('login')}}">Log Out</a>
                                    </div>
                            </div>
                        </div>
                </header>
                <main>
                    <div class="flex flex-d-column items-center justify-center light-gray-color">
                        <h1>
                            MAIN PAGE
                        </h1>
                    </div>
                </main>
            </div>
            <footer>
                    <div class="ft-properties flex items-center justify-center">
                        <div class="mh-5"><a href="">Terms</a></div>
                        <div class="mh-5"><a href="">Privacy Policy</a></div>
                        <div class="mh-5"><a href="">Support</a></div>
                        <div class="mh-5"><a href="">Backlog</a></div>
                        <div class="mh-5"><a href="">Status</a></div>
                        <div class="mh-5"><span>@2024 Pinkary</span></div>

                    </div>
            </footer>
        </div>

        <script src="{{ url_for('static',filename='scriptindex.js')}}"></script>
</body>
</html>