<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Profile</title>
</head>
<body class="body-bg-color font">
    <div id="wrapper" class="flex flex-d-column min-h-s">
        <div class="contenttop">
            <header>
                    <div class="hd-properties flex flex-d-column items-end">
                        <div class="flex hd-inside">
                            <div class="bar other-bars">
                                <a href="{{ url_for('home')}}">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </div>
                            <div class="bar other-bars">
                                <a href="{{ url_for('user')}}">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                            </div>
                            <div class="bar navbar">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                        <div class="navbar-box">
                                <div class="navbar-box-items">
                                    <a href="{{ url_for('profile')}}">Settings</a>
                                </div>
                                <div class="navbar-box-items">
                                    <a href="{{ url_for('logout')}}">Log Out</a>
                                </div>
                        </div>
                    </div>
            </header>
            <main>
                <div class="main-properties flex flex-d-column items-center justify-center">
                    <div class="center-wrapper">
                        <div class="mv-25">
                            <div>
                                <div class="light-gray-color"><h2>Profile Information</h2></div>
                                <div class="mv-5">Update your account's profile information and email address.</div>
                            </div>
                            <div class="form">
                                <form id="update_account_form" method="post" action="">
                                    <input type="hidden" name="update_acc" value="acc">
                                    <div class="pv-16">
                                        <label for="name">Name</label>
                                        <div class="p-16">
                                             <input id="name" name="fullname" type="text" class="inputtext inputboxes w-100p">
                                        </div>

                                    </div>
                                    <div class="pv-16">
                                        <label for="username">Username</label>
                                        <div class="p-16">
                                             <input id="username" name="username" type="text" class="inputtext inputboxes w-100p">
                                        </div>

                                    </div>
                                    <div class="pv-16">
                                        <label for="email">Email</label>
                                        <div class="p-16">
                                             <input id="email" name="email" type="text" class="inputtext inputboxes w-100p">
                                        </div>
                                    </div>
                                   <div class="pv-16">
                                        <label for="bio">Bio</label>
                                        <div class="p-16">
                                             <input id="bio" name="bio" type="text" class="inputtext inputboxes w-100p">
                                        </div>
                                    </div>
                                    <div class="pv-16 mv-5 flex">
                                        <button id="save-acc" class="settings-buttons sendbuttonproperties" type="button">Save</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="mv-25">
                            <div>
                                <div>
                                    <div class="light-gray-color"><h2>Update Password</h2></div>
                                </div>
                                <div class="mv-5">Ensure your account is using a long, random password to stay secure.</div>
                            </div>
                            <div>
                                <form id="update_pwd" method="post" action="">
                                    <input type="hidden" name="update_acc" value="pwd">
                                    <div class="pv-16">
                                            <label for="old_pw">Password</label>
                                             <div class="p-16 mt-5">
                                                 <input id="old_pw" name="old_pwd" type="password" class="inputtext inputboxes w-100p">
                                             </div>
                                    </div>

                                    <div class="pv-16">
                                            <label for="new_pw">Password</label>
                                             <div class="p-16 mt-5">
                                                 <input id="new_pw" name="new_pwd" type="password" class="inputtext inputboxes w-100p">
                                             </div>
                                    </div>
                                    <div class="pv-16">
                                            <label for="c_new_pw">Confirm Password</label>
                                             <div class="p-16 mt-5">
                                                 <input id="c_new_pw" name="c_new_pwd" type="password" class="inputtext inputboxes w-100p">
                                             </div>
                                    </div>
                                    <div class="pv-16 mv-5 flex">
                                        <button id="change-pw" class="settings-buttons sendbuttonproperties" type="button">Save</button>
                                    </div>

                                </form>

                            </div>
                            <div class="mv-25">
                                <div>
                                    <div>
                                        <div class="light-gray-color"><h2>Delete Account</h2></div>
                                    </div>
                                    <div class="mv-5">Once your account is deleted, all of its resources and data will be permanently deleted. Before deleting your account, please download any data or information that you wish to retain.</div>
                                    <form id="delete_account_form" method="post" action="">
                                        <div class="pv-16 mv-5 flex">
                                            <button id="delete-acc" class="settings-buttons sendbuttonproperties" type="button">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </main>
        </div>
        <footer>
                <div class="ft-properties flex items-center justify-center">
                  <div class="mh-5"><span>@2024 LinkApp</span></div>
                </div>
        </footer>

    </div>

    <script src="{{ url_for('static',filename='scriptprofile.js')}}"></script>
</body>
</html>