<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Register</title>
</head>
<body class="body-bg-color font">
    <div id="wrapper" class="flex flex-d-column min-h-s">
        <div class="contenttop">
            <header>
                    <div class="hd-properties flex flex-d-column items-end">
                        <div class="hd-inside">
                            <div class="bar navbar">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                        <div>
                            <div class="navbar-box">
                                <div class="navbar-box-items">
                                    <a href="{{ url_for('index')}}">About</a>
                                </div>
                                <div class="navbar-box-items">
                                    <a href="{{ url_for('login')}}">Log In</a>
                                </div>
                                <div class="navbar-box-items">
                                    <a href="{{ url_for('register')}}">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </header>
            <main>
                <div class="main-properties flex flex-d-column items-center justify-center">
                    <div class="center-wrapper">
                        <div class="form">
                            <form id="registerform" method="post">
                                <div class="pv-16">
                                    <label for="name">Name</label>
                                    <div class="p-16">
                                         <input id="name" name="fullname" type="text" class="inputtext inputboxes w-100p">
                                    </div>

                                </div>
                                <div class="pv-16">
                                    <label for="username">Username</label>
                                    <div class="p-16">
                                         <input id="username" name="username" type="text" class="inputtext inputboxes w-100p">
                                    </div>

                                </div>
                                <div class="pv-16">
                                    <label for="email">Email</label>
                                    <div class="p-16">
                                         <input id="email" name="email" type="text" class="inputtext inputboxes w-100p">
                                    </div>

                                </div>
                                 <div class="pv-16">
                                    <label for="pw">Password</label>
                                     <div class="p-16 mt-5">
                                         <input id="pw" name="pwd" type="password" class="inputtext inputboxes w-100p">
                                     </div>
                                </div>
                                <div class="pv-16">
                                    <label for="cpw">Confirm Password</label>
                                     <div class="p-16 mt-5">
                                         <input id="cpw" type="password" class="inputtext inputboxes w-100p">
                                     </div>
                                </div>
                                <div class="pv-16 mv-10 flex items-center justify-end">

                                    <a href="{{ url_for('login')}}">Already have an account? Sign in here.</a>

                                    <button id="sendbutton" type="button" class="send">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer>
                <div class="ft-properties flex items-center justify-center">
                    <div class="mh-5"><a href="">Terms</a></div>
                    <div class="mh-5"><a href="">Privacy Policy</a></div>
                    <div class="mh-5"><a href="">Support</a></div>
                    <div class="mh-5"><a href="">Backlog</a></div>
                    <div class="mh-5"><a href="">Status</a></div>
                    <div class="mh-5"><span>@2024 Pinkary</span></div>

                </div>
        </footer>

    </div>

    <script src="{{ url_for('static',filename='scriptregister.js')}}"></script>
</body>
</html>